<img src="https://wallpaperaccess.com/full/4556492.jpg" class="img-fluid" alt="..." style="position: absolute; right: 50; top: 50; z-index: -100; width: 100%; height: 100%;">

<button type="button" pButton label="PrimeNG"></button>

<p-dialog header="Title" [(visible)]="display">
  Content
</p-dialog>

<button type="button" (click)="showDialog()" icon="pi pi-external-link" label="Show">Dialogo</button>

<h5>Basic</h5>
<p-button label="Submit"></p-button>

<p-button label="Link" styleClass="p-button-link"></p-button>

<h5>Icons</h5>
<p-button icon="pi pi-check"></p-button>
<p-button label="Submit" icon="pi pi-check"></p-button>
<p-button label="Submit" icon="pi pi-check" iconPos="right"></p-button>