<img src="https://wallpaperaccess.com/full/4556492.jpg" class="img-fluid" alt="..." style="position: absolute; right: 50; top: 50; z-index: -100; width: 100%; height: 100%;">

<div class="ms-3 position-absolute top-50 start-50 translate-middle">
   
    <div class="card border-primary" style="border-radius: 15px;">
        <div class="card-body">
            <div class="card-header text-center text-white bg-primary bg-gradient" style="border-radius: 20px;">
                <h1>Iniciar Sesion</h1> 
              </div>
            <form>
                <div class="mb-3 mt-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                </div>

              </form>
        </div>
      </div>
    
</div>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Show a second modal and hide this one with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-dismiss="modal">Open second modal</button>
      </div>
    </div>
  </div>
</div>
